altair
blinker
cachetools
certifi
charset-normalizer
click
colorama
et_xmlfile
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
markdown-it-py
MarkupSafe
mdurl
numpy
openpyxl
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
requests
rich
six
smmap
#streamlit
tenacity
toml
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
xlrd
zipp
streamlit==1.36.0
protobuf==4.25.3
pandas==2.3.3
numpy==2.3.5
altair==6.0.0
plotly==6.5.0
pydeck==0.9.1
openpyxl==3.1.5
requests==2.32.5
