altair
blinker
cachetools
certifi
charset-normalizer
click
colorama
et_xmlfile
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
markdown-it-py
MarkupSafe
mdurl
numpy
openpyxl
packaging
pandas
pillow
plotly
protobuf==3.20.3
pyarrow
pydeck
Pygments
python-dateutil
pytz
requests
rich
six
smmap
streamlit==1.8.0
tenacity
toml
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
xlrd
zipp
