streamlit>=1.28.0
pandas
numpy
plotly
openpyxl
xlrd
altair
blinker
cachetools
certifi
charset-normalizer
click
colorama
et_xmlfile
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
markdown-it-py
MarkupSafe
mdurl
packaging
pillow
pyarrow
pydeck
Pygments
python-dateutil
pytz
requests
rich
six
smmap
tenacity
toml
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
